name: Release

on:
  push:
    tags:
      - '**'

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-15-intel, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: 21
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/actions/setup-gradle@v3
      - run: ./gradlew build
      - uses: actions/upload-artifact@v4
        with:
          name: distribution-${{ matrix.os }}
          if-no-files-found: error
          path: |
            build/compose/binaries/main-release/dmg/kotlin-explorer-*.dmg

  release:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'romainguy'
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Create release and upload dists
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" **/*.dmg -t "${{ github.ref_name }}" --draft --generate-notes
